<section class="main-wrapper">
  <h2 class="main-heading">Recipe List Page</h2>
  <%= link_to 'New Recipe', new_recipe_path, class:'btn' %>

  <ul class="recipe-list">
    <% @recipes.each_with_index do |recipe, index| %>
      <li class="recipe-list-container">
        <div>
          <p><%= link_to recipe.name, recipe_path(recipe) %></p>
          <% if can? :destroy, recipe %>
            <%= button_to 'Delete Recipe', destroy_recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn' %>
          <% end %>
        </div>
        <p><%= recipe.description %></p>
      </li>
    <% end %>
  </ul>
</section>
